---
const linkGroupClasses = "flex flex-row gap-2 ";
const linkClasses = "uppercase text-xs tracking-wide hover:underline text-mist-200"
---


<footer class="min-h-48 flex flex-col place-content-center place-items-center gap-2">
    <div class={linkGroupClasses}>
        <a class={linkClasses} href="/">Portfolio</a>
        <a class={linkClasses} href="/about">About</a>
        <a class={linkClasses} href="/now">Now</a>
    </div>
    <div class={linkGroupClasses}>
        <a class={linkClasses} href="https://github.com/helen-mckay">GitHub</a>
        <a class={linkClasses} href="https://linkedin.com/in/helenmckaydev">LinkedIn</a>
        <a class={linkClasses} href="/resume.pdf">Resume</a>
    </div>
    <p class="text-xs/tight text-mist-400">© Helen McKay, 2026. All Rights Reserved.</p>
</footer>